<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./logo/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="Website terbaik untuk memanjakan mata dan lidah mu. Ayo temukan makanan terenak dari berbagai restoran di Nusantara.">
    <meta name="keywords" content="Restoran, Nusantara, Catalog Restoran">
    <meta name="author" content="Zeldianto EP">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cicip Apps : Website terbaik untuk memanjakan lidahmu.</title>
</head>

<body>
    <a href="/#contentbody" class="skip-link">Menuju ke konten</a>
    <header>
        <div class="toolbar">
            <div>
                <img class="logo" src="./logo/logo.png" alt="Logo Cicip">
            </div>
            <div class="menu-item">
                <a class="item" href="/#">Home</a>
                <a class="item" href="/#/favorite">Favorite</a>
                <a class="item-sp" href="https://github.com/dazelpro" target="_blank" rel="noreferrer">About Us</a>
                <a class="item-icon-menu" href="javascript:void(0)" aria-label="open sidenav" id="openNav">&#9776;</a>
            </div>
        </div>

        <div class="sidenav">
            <a href="javascript:void(0)" aria-label="close sidenav" class="close-sidenav" id="closeNav">&times;</a>
            <a href="/#">Home</a>
            <a href="/#/favorite">Favorite</a>
            <a href="https://github.com/dazelpro" target="_blank" rel="noreferrer">About</a>
        </div>
    </header>

    <section id="maincontent"></section>
    
    <footer>
        <div>
            Copyright © 2020 - Cicip Apps
        </div>
    </footer>
    <script>
    </script>
    <style>
        
    </style>
</body>

</html>