<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../public/images/icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cicip Apps : Website terbaik untuk memanjakan lidahmu.</title>
</head>

<body>
    <div class="toolbar">
        <div>
            <img class="logo" src="./logo/logo.png" alt="Logo Cicip">
        </div>
        <div class="menu-item">
            <a class="item" href="/">Home</a>
            <a class="item" href="#">Favorite</a>
            <a class="item-sp" href="https://github.com/dazelpro" target="_blank" rel="noreferrer">About Us</a>
            <a class="item-icon-menu" href="javascript:void(0)" id="openNav">&#9776;</a>
        </div>
    </div>

    <div class="sidenav">
        <a href="javascript:void(0)" class="close-sidenav" id="closeNav">&times;</a>
        <a href="/">Home</a>
        <a href="#">Favorite</a>
        <a href="https://github.com/dazelpro" target="_blank" rel="noreferrer">About</a>
    </div>

    <div class="jumbroton" style="background-image: url(./images/heros/hero-image_4.jpg);">
        <div class="blur">
            <h1>Cicip macam-macam makanan terenak dari berbagai Resto di Nusantara</h1>
            <a href="#">Explore</a>
        </div>
    </div>

    <section>
        <h2>Explore Restaurant</h2>
        <p>Lihat makanan-makanan enak dan pilih yang kamu suka.</p>
        <div class="wrapper col-4">
            <div class="card">Satu</div>
            <div class="card">Dua</div>
            <div class="card">Tiga</div>
            <div class="card">Empat</div>
            <div class="card">Lima</div>
            <div class="card">Enam</div>
        </div>
    </section>

    <footer>
        <div>
            Copyright © 2020 - Cicip Apps
        </div>
    </footer>
</body>

</html>