.col-4 {
  display: grid;
  grid-template-columns: 1fr;
}

.logo {
  margin-left: 15px;
}

.item-sp {
  margin-right: 15px;
}

.item-icon-menu {
  font-size: 22px;
  cursor: pointer;
  margin-right: 5px;
}
